<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapStyle</key>
	<string>G_PHYSICAL_MAP</string>
	<key>KMLThumbnailsRemoteURLs</key>
	<string>http://foo.com/my_trip/images/</string>
	<key>mapZoom</key>
	<integer>10</integer>
	<key>ApplyNaturalSortOrder</key>
	<true/>
</dict>
</plist>
